body {
    margin: 0 ;
}

.container{
height:90vh;
width: 90vw;
border: 5px solid black;
}
.box{
    width: 50px;
    height: 50px;
     position: absolute; 
    /* left:0; */
      transition: 500ms;  
}
#box1{
    left:100px;
}