body {
    margin: 0 ;
}

.container{
height:99vh;
width: 99.5vw;
position: relative;
border: 5px solid black;
}
 #box2{
     position: absolute;
    /* top:96%;
    left:98%; */
}
.box{
    width: 2%;
    height: 4%;
    position: absolute;   
    transition: 1000ms;  
} 