body {
    margin: 0 ;
}

.container{
height:99vh;
width: 99.5vw;
position: relative;
border: 5px solid black;
}
.box{
    width: 2%;
    height: 4%;
      position: absolute;  
    /* left:0; */
      transition: 1000ms;  
}
#box2{
    top:96%;
    left:0%;
}